.App {
  height: 100vh;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  border: 1px solid orange;
  margin: 0 100px;
  padding: 20px;
}

.help-message {
  color: grey;
  justify-self: flex-end;
}

.button {
  margin-left: 50px;
}
